<!DOCTYPE html>
<html>
<head>
  <title>Akkarin</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrapper">
  <%= render "shared/sidebar" %>
  <!-- Page content -->
  <div id="page-content-wrapper">
    <%= render "shared/header" %>
    <div class='continer'>
      <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-11">
          <%= yield %>
        </div>
    </div>
  </div>
</div>
</body>
</html>
