<!DOCTYPE html>
<html>
<head>
  <title>Akkarin</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <%= csrf_meta_tags %>
</head>
<body class="smart">
  <div id="wrapper" class="active-left">
    <%= render "shared/sidebar" %>
    <!-- Page content -->
    <div id="page-content-wrapper">
      <%= render "shared/header" %>
      <div class='continer-fluid'>
        <div class="row">
          <div class="col-sm-1">
          </div>
          <div class="col-sm-11">
            <%= yield %>
          </div>
        </div>
        <hr>
        <p class="text-muted text-center">Akkarin v0.0.5</p>
      </div>
    </div>
  </div>
</body>
</html>
