<!DOCTYPE html>
<html>
<head>
  <title>Akkarin</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrapper">
  <%= render "shared/sidebar" %>
  <!-- Page content -->
  <div id="page-content-wrapper">
    <div class="content-header">
      <h1 id="home">
        <a id="menu-toggle-left" href="#" class="glyphicon glyphicon-align-justify btn-menu toggle">
          <i class="fa fa-bars"></i>
        </a>
        Sidebar Navigation Template
      </h1>
    </div>
    <div class="page-content inset" data-spy="scroll" data-target="#spy">
      <div class="navbar navbar-default navbar-static-bottom">
        <p class="navbar-text pull-left">
          Built by <a href="http://mvnguyen.com" target="_blank">Michael V Nguyen
        </p>
        <div class='continer'>
          <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
              <%= yield %>
            </div>
            <div class="col-md-2">
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
